tr {
  border: 1px solid #ccc;
  font-weight: normal;
  border-collapse: collapse;
}

th {
  border: 1px solid #ccc;
  font-weight: normal;
  border-collapse: collapse;
  padding-left: 1em;
  padding-right: 1em;
  height:50px;
}

.thCheckbox {
  width: 20px;
  padding: 0;
}

.divActions {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  height: 20px;
  width: 20px;
  color: cornflowerblue;
  margin: 14px 20px;
}

.edit {
  width: 70px;
}

.delete {
  background-color: crimson;
  width: 70px
}

table {
  border: 1px solid #ccc;
  font-weight: normal;
  border-collapse: collapse;
  text-align:left;
  width: 100%;
  padding: 0;
  max-width: 1000px;
  margin: auto;
}